:root {
  --primary-color: #283d3f;
  --secondary-color: #d65a31;
  --dark-gray: #d8d8d8;
  --light-gray: rgb(242, 242, 242);
  --shade: rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 1rem;
}

#humblebrag--nav {
  background-color: white;
  font-size: 0.7rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  z-index: 10;
  border-bottom: 1px solid black;
}

#humblebrag--nav .nav--link:hover {
  color: var(--secondary-color);
}

#humblebrag--nav .nav--text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #707070;
}

.humblebrag--slate {
  position: relative;
}

.humblebrag--slate:hover .slate__hover {
  display: block;
}

.slate__hover {
  display: none;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--shade);
  color: white;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  border-radius: 2px;
  -webkit-box-shadow: 2px 3px 5px #636363;
          box-shadow: 2px 3px 5px #636363;
}

.break--quote {
  font-size: 0.8rem;
}

.break--quote .break--quote--button {
  width: 7rem;
  height: 2rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  color: white;
}

.testimonials--left {
  position: relative;
  width: 50%;
  max-width: 80vw;
  min-width: 300px;
  height: 100%;
}

.testimonials--left--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.testimonials--left:hover .testimonials--left__hover {
  display: block;
}

.testimonials--left__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--shade);
  color: white;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 3rem;
}

#humblebrag--testimonials .testimonials--right .testimonials--box .testimonials--box--person {
  position: relative;
}

#humblebrag--testimonials .testimonials--right .testimonials--box .testimonials--box--person .testimonials--box--person--img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#humblebrag--testimonials .testimonials--right .testimonials--box .testimonials--box--person .testimonials--box--person--img:hover .testimonials--box--person__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#humblebrag--testimonials .testimonials--right .testimonials--box .testimonials--box--person .testimonials--box--person__hover {
  display: none;
  background-color: var(--shade);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}

#humblebrag--form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#humblebrag--form .form--box input {
  width: 50%;
}

#humblebrag--form .form--box .humblebrag--button {
  background-color: var(--secondary-color);
  color: white;
  width: 50%;
  height: 2rem;
}

#humblebrag--footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
}

#humblebrag--footer hr {
  width: 80%;
  margin: 1rem auto;
}

#humblebrag--footer .footer--disclaimer {
  color: var(--secondary-color);
}
/*# sourceMappingURL=101.css.map */